# Prediction Model

In [1]:
# importing librairies ...
import pandas as pd

In [2]:
# The first step is to retrieve cleaned data 
df18 = pd.read_csv('./dataset/immoCollect18-clean.csv', index_col = 0)
df52 = pd.read_csv('./dataset/immoCollect52-clean.csv', index_col = 0)

## Cleaning / manipulation 

First, I'm going to do a little data cleansing to make sure that it corresponds precisely to my expectations for this project.

In [3]:
# for the df18...

print(df18.shape)
df18.head()

(11227, 8)

,price,type_of_property,is_new,postal_code,house_area,number_of_bedroom,garden,terrace
0,280000,0,True,1180,65,1,True,True
1,282500,0,True,1180,73,1,False,True
2,412500,0,True,1180,100,2,False,True
3,380000,0,True,1160,87,2,False,True
4,165000,0,True,6000,63,1,False,False

In [4]:
def bool_to_int(boolean):
    if boolean == True:
        boolean = 1
        return boolean
    elif boolean == False:
        boolean = 0
        return boolean

In [5]:
df18['is_new'] = df18['is_new'].apply(bool_to_int)
df18['garden'] = df18['garden'].apply(bool_to_int)
df18['terrace'] = df18['terrace'].apply(bool_to_int)
df18.head()

,price,type_of_property,is_new,postal_code,house_area,number_of_bedroom,garden,terrace
0,280000,0,1,1180,65,1,1,1
1,282500,0,1,1180,73,1,0,1
2,412500,0,1,1180,100,2,0,1
3,380000,0,1,1160,87,2,0,1
4,165000,0,1,6000,63,1,0,0

In [6]:
# for the df52...

print(df52.shape)
df52.head()

(40791, 17)

,postal_code,type_of_property,price,number_of_bedroom,house_area,fully_equipped_kitchen,terrace,garden,state_of_the_building,locality,district,province,province_int,region,region_int,district_int,ratio_free_build
6,1650,0,525000,4,220,1,1,1,0,Beersel,Hal-Vilvorde,brabant-flamand,5.0,flandre,0.0,8.0,-2.851322
9,1332,0,549000,4,210,1,1,1,1,Rixensart,Nivelles,brabant-wallon,8.0,wallonie,1.0,4.0,-3.410265
10,8310,0,519000,3,273,1,0,1,1,Brugge,Brugge,flandre-occidentale,0.0,flandre,0.0,28.0,-2.429051
12,8200,0,535000,4,200,1,1,1,1,Brugge,Brugge,flandre-occidentale,0.0,flandre,0.0,28.0,-2.429051
13,1421,0,105000,1,82,0,0,1,0,Braine-l'Alleud,Nivelles,brabant-wallon,8.0,wallonie,1.0,4.0,-2.645463